<%- include('header'); -%>
    <div class="box" id="heading">
      <h1><%= listTitle %></h1>
    </div>
    <div class="box">
      <% for (var i = 0; i < novoItem.length; i++) { %>
      <div class="item">
        <input type="checkbox" />
        <p><%= novoItem[i] %></p>
      </div>
      <% } %>
      <form class="item" action="/" method="post">
        <input
          type="text"
          name="adicionar"
          placeholder="Novo item"
          autocomplete="off"
        />
        <button type="submit" name="item" value=<%= listTitle %>>+</button>
      </form>
    </div>
<%- include('footer'); -%>
